<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/css/style.css">
<div class="container-fluid">
    <div class="first row">
        <img  id="logo" src="/img/logo-01.png" alt="">
    </div>
        <div class="first-row-chart row">
            <div class="chart-item col-md-4">
                <canvas id="chart1" style="width:100%;max-width:550px;"></canvas>
            </div>
            <div class="chart-item col-md-4">
                <canvas id="chart2" style="width:100%;max-width:550px"></canvas>                
            </div>
            <div class="chart-item col-md-4">
                <canvas id="chart3" style="width:100%;max-width:550px"></canvas>                
            </div>
        </div>
        <div class="second-row-chart row">
            <div class="chart-item col-md-6">
                <canvas id="chart4" style="width:100%;max-width:500px"></canvas>
            </div>
            <div class="chart-item col-md-6">
                <canvas id="chart5" style="width:100%;max-width:500px"></canvas>                
            </div>
        </div>
        
</div>
<script src="/script/chart.js"></script>
