*,p {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-image: url(../img/background-01.png);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

.container1 {
    margin: 0;
}

.first {
}

#logo {
    width: auto;
    display: block;
    height: 150px;
    margin: 0 auto;
}

.first-row-chart{
    margin-top: 40px;
    padding: 50px 100px;
}

.status-item{
    background-color: #F2EACE;
    border-radius: 20px;
    margin: 30px 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    animation: slideInLeft ease 0.5s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-150%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.container-status{
    margin-left: 100px;
}

.shape {
    background-color: #FFB524;
    border-radius: 20px 0 0 20px;
}

.name, .status, .chidoan {
    color: #00432D;
}

.name {
    font-size: 20px;
    font-weight: 700;
    padding-top: 5px;
}

.chidoan {
    font-weight: 600;
}

.status {
    padding-bottom: 5px;
}

.numbers{
    padding: 70px 50px;

}

.text {
    font-size: 40px;

}

#nums {
    font-size: 80px;
}


.text, #nums {
    font-weight: 700;
    color: #00432D;
    text-align: center;
    margin-left: 50px;
}

#nums {
}
